body{
    background-image: url(sm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.name{
    background-color: rgb(181, 135, 67);
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;
    display: flex;
    padding: 1px;
    padding-top: 1px;
    gap: 1px;
}
h1{
    padding: 1px;
    color: black;
    padding: 5px;
    margin: 1px;
    
}
